.progress-container{
    width: 300px;
    margin-top: 15px;
}

.progress-container .progress{
    margin-bottom: 0;
}

.container>.row>.col-md-8 .row,
.col-md-4 .row{
    margin-left: 0;
}

.col-md-4 .row{
    margin-right: 0;
}

#queue ul,
#history ul,
#search-results ul,
#favorites ul{
    padding-left: 0;
}

#queue li,
#history li,
#search-results li,
#favorites li,
nav .volume-container{
    list-style: none;
}

.glyphicon:hover{
    color: #96c93c;
}

#current{
    margin-top: 15px;
}

#current a{
    display: inline-block;
    max-width: 256px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}

nav li.player-control a{
    padding-left: 4px;
    padding-right: 4px;
}

nav li.player-control.volume{
    margin-top: 6px;
}

nav li.player-control.volume a{
    padding: 0;
}

nav form.navbar-form.navbar-right{
    width: 25%;
    margin-right: 0 !important;
}

#queue ul:after{
    content: "Queue";
    float: right;
    opacity: 0.5;
}
#history ul:after{
    content: "History";
    float: right;
    opacity: 0.5;
}
#search-results ul:after{
    content: "Search Results";
    float: right;
    opacity: 0.5;
}

#favorites ul:after{
    content: "Favorites";
    float: right;
    opacity: 0.5;
}

.navbar-brand{
    margin-top: -6px;
}

#users{
    padding-left: 0;
}

#users>span{
    font-size: 105%;
}

#users>span .glyphicon{
    position: relative;
    top: 2px;
    left: 1px;
}

form.col-md-4{
    padding-right: 0;
}

.col-md-4 .title{
    display: inline-block;
    width: calc(100% - 120px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 0%;
    transition-property: text-indent;
    transition-duration: 3s;
    transition-delay: 0.1s;
}
.col-md-4 .title:hover{
    text-indent: -34%;
}

.col-md-4 .glyphicon{
    top: -3px;
}

form.col-md-4:after{
    content: "R.a.p. (Random auto play)";
    float: right;
    opacity: 0.5;
}

.mark,
.mark *{
    color: #428bca !important;
    text-shadow:
    -1px -1px 0 #96c93c,
    1px -1px 0 #96c93c,
    -1px 1px 0 #96c93c,
    1px 1px 0 #96c93c;
}

nav #cover{
    height: 50px;
    width: 50px;
    margin-left: -30px;
    position: relative;
    background-size: cover;
    background-repeat:no-repeat;
}

/* http://jsfiddle.net/jonathansampson/XxUXD/ */
/* Make it a marquee */
.marquee {
    width: 280px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 20s linear infinite;
}

.marquee:hover {
    animation-play-state: paused
}

.voting {
    font-weight: bold;
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 20em }
    100% { text-indent: -8em }
}
